.wrapper{
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
}
.wrapper>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

@media all and (min-width: 800px){
    .main{
        flex: 3;
    }
    .aside1{
        order: 1;

    }
    .aside2{
        order: 1;
    }
    footer{
        order: 4;
    }
}
@media all and (min-width: 600px){
    .aside{
        flex: 1;
    }
}