header{
    background-color: #A7281A;
    margin: 7%;
    padding: 08%;
    width: 100%;
}
body{
    background-image: url("../img/background_wood.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

.page{
    width: 1280px;
    margin: auto;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(12, 12, 12);
}
footer{
    padding: 10px;
    width: 100%;
    width: 300%;
    display: flex;
    flex-direction: row;
}