header{
  color: white;
    display: flex;
    background-color: #A7281A;
    margin: 83px;
    padding: 08%;
    width: 75%;
    height: 200px;
}
h1 {
    text-align:center left;
 }
 h3 {
    text-align: center left;
  }
  .logo{
    border: 25px;
    image-rendering: auto;
    align-items: start;
}
body{
    background-image: url("../img/background_wood.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
    
}
main{
  background-color: #F2E9C2;
  margin: 7%;
  padding: 8%;
  width: 1165px;
  height: 951px;
  display: flex;
}
.page{
    width: 1280px;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}
footer{
  color: white;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
main{
    margin: 15%;
    padding: 3%;
    width: 234px
    
}