body{
    background-color: rgb(26, 25, 25);
    margin: 0px;
    padding : 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.page{
    width: 1280px;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}
header{
    background-color: #A7281A;
    margin: 7%;
    padding: 08%;
    width: 100%;

}
.logo{
    image-rendering: auto;
}
